﻿/*--------------------------------------------------------------
# Info
======
#green: #ACC42A;
#blue: #006CB8;
#red: #ED1B2F;
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444;
  min-width:300px;
}

a {
  color: #428bca;
}

a:hover {
  color: #9eccf4;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: "Open Sans", sans-serif;
}

em{font-size: 0.768rem; font-style: normal;}

section#breadcrumbs{ background-color: #fafafa; padding-bottom: 0!important; padding-top: 0!important;}
.breadcrumb{background-color: transparent !important; margin-bottom: 0!important;}
.breadcrumb .breadcrumb-item {font-size: 0.786rem;color:gray;}
.breadcrumb .breadcrumb-item a{color:black!important;}

.banner-image{margin-top: 0!important; background-color: #ffffff}

.box-image{position: relative;overflow: hidden;}
.box-image img{
	position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  width: 100%;
}

.badge{font-weight: normal;}

.btn-default-pis{
  border:1px solid gray;
  border-radius: 5px;
}

.bi-file-pdf-fill{
  color: red;
}
.btn-radius-pis{
  border-top-left-radius: 10px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 0 !important;
}

.phone-icon{
  font-size: 1rem;
}
.rounded-icon{
  padding: 2px 5px;
  background-color: black;
  color: white;
  border-radius: 50%;
}
.bg-gray{
  background: #fafafa;
}

.box-pis{
  border: 1px solid #c5c5c5;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.box-pis-sm{
  border: 1px solid #c5c5c5;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.box-pis-right{
  border: 1px solid #c5c5c5;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.box-pis-right-sm{
  border: 1px solid #c5c5c5;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.content .title{
  margin-bottom: 2rem;
  font-weight: 600;
}

.image-video {position: relative; overflow: hidden;}
.image-video img{
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}
.image-video .popup-youtube > img {
  width: 100%;
}
.image-video .playButton {
  height: 20%;
}

.link_pis{color: inherit;}
.link_pis:hover{color: #ED1B2F;}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{border-color: transparent!important;}

/***
#hero .carousel-item{
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: 100% !important;
  background-position: center center !important;
}
**/

@media (max-width: 768px) {
	.banner-image{height: auto;}
	#breadcrumbs {padding-bottom: 0;}
  .pagination-box, .pagination-box .justify-content-end{
    text-align: center !important;
    justify-content: center !important;
  }
}


/*--------------------------------------------------------------
# Pertamina PIS
--------------------------------------------------------------*/

.green_pis 	{color: #ACC42A!important;}
.blue_pis 	{color: #006CB8!important;}
.red_pis 	{color: #ED1B2F!important;}

a.green_pis  {color: #ACC42A;}
a.blue_pis   {color: #006CB8;}
a.red_pis:hover{ color: #ED1B2F; }

.bg-green {background-color: #ACC42A !important; color: white !important;}
.bg-blue {background-color: #006CB8 !important; color: white !important;}
.bg-red {background-color: #ED1B2F !important; color: white !important;}


/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #fafafa;
  padding: 10px 0;
  font-size: 0.875rem;
  z-index: 35;
  position: relative;
}

#topbar .active {
	font-weight: bold;
}

#topbar .contact-info a {
  line-height: 1;
  color: #444;
  transition: 0.3s;
}

#topbar .contact-info a:hover {
  color: #ED1B2F;
}

#topbar .contact-info i {
  color: #444;
  padding: 4px;
  margin-right: 15px;
}

#topbar .contact-info .icofont-phone {
  padding-left: 20px;
  margin-left: 10px;
}

#topbar .social-links a {
  color: #5c768d;
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}

#topbar .social-links a:hover {
  color: #ED1B2F;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.1s;
  transition: all 0.1s;
  padding: 10px 0;
  background: #fff;
  z-index: 997;
}

#header.header-scrolled {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 10px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #000000;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

#header-sticky-wrapper{z-index: 35;position: relative;}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #000000;
  padding: 12px 15px;
  transition: 0.3s;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #ED1B2F;
  text-decoration: none;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: none;
  color: #103453;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #ED1B2F;
}

.nav-menu .drop-downs > a:after {
  content: "\f282";
  font-family: bootstrap-icons;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\f285";
  font-family: bootstrap-icons;
  position: absolute;
  right: 15px;
}

#nav-right-option > span:after {
	content: "\f282";
  font-family: bootstrap-icons;
  vertical-align: text-bottom;
}


/* 
===================
=== Nav Overlay ===
===================
*/

.nav-overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 25;
  top: 1;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  background-image: url('../images/slide-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-overlay .bg-black-transparent {height: 100%;top: -500;position: relative;padding-top: 50px}

.nav-overlay-content {
  position: relative;
  height: 100%;
  text-align: left;
}

.nav-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.nav-overlay a:hover, .nav-overlay a:focus {
  color: #ED1B2F;
}



.nav-overlay .drop-down .drop-down ul {
  left: -90%;
}
.nav-overlay-content li {
  list-style: none;
}
.nav-overlay .drop-down .drop-down:hover > ul {
  left: -100%;
}
.nav-overlay .drop-down .drop-down > a:after {
  content: "\f285";
}

.nav-overlay a:hover, .nav-overlay .active > a, .nav-overlay li:hover > a {
  text-decoration: none;
}

.nav-overlay .drop-down > a:after {
  content: "\f285";
  font-family: bootstrap-icons;
  font-size: 1rem;
  padding-left: 10px;
  position: relative;
  left: 30px;
  top: 3px;
}

.nav-overlay .active.drop-down > a:after {
  content: "\f282";
}

.nav-overlay .drop-down > a {
  padding-right: 35px;
}

.nav-overlay .drop-down ul {
  display: none;
  overflow: hidden;
}

.nav-overlay .drop-down li {
  padding-left: 20px;
}

/* 
=======================
=== End Nav Overlay ===
=======================
*/

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\f285";
  }
}

/* Mobile Navigation */
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9998;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  background: #1f3548;
  transition: 0.4s;
}
.mobile-nav-container{height: 100%; background-color: rgba(0,0,0, 0.4); padding-top: 18px !important;}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #e3f0fc;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #ED1B2F;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f285";
  font-family: bootstrap-icons;
  padding-left: 10px;
  position: absolute;
  right: 30px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\f282";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 20px;
  z-index: 1028;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-search {
  position: fixed;
  right: 47px;
  top: 24px;
  z-index: 1028;
  border: 0;
  background: none;
  font-size: 16px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-contact {
  position: fixed;
  right: 73px;
  top: 24px;
  z-index: 1028;
  border: 0;
  background: none;
  font-size: 16px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle .bi-x {
  top: -10px;
	position: absolute;
	right: 15px;
}

.mobile-nav-toggle i {
  color: #5c768d;
}

#nav-right-options{top:0;}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(31, 53, 72, 0.7);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
  width: 100% !important;
  background-image: url('../images/slide-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

.lang-mobile{color:gray;font-size: 0.767rem;margin-top:2rem;}
.lang-mobile .active{font-weight: bold;}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  /***height: calc(100vh - 114px);**/
  height: auto;
  padding: 0;
}

#hero .carousel-item {
  width: 100%;
  /**height: calc(100vh - 114px);**/
  height: auto;
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  overflow: hidden;
}

#hero .carousel-item::before {
  content: '';
  /**background-color: rgba(0, 0, 0, 0.3);**/
  background-color: none;
  position: absolute;
  height: 100%;
  /**height: auto;**/
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .carousel-content {
  text-align: left;
}

@media (max-width: 992px) {
  #hero, #hero .carousel-item {
    /**height: calc(100vh - 70px);**/
    height: auto;
  }
  #hero .carousel-content.container {
    padding: 0 50px;
  }
}

#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 900;
}

#hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  color: #fff;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-left,
#hero .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

#hero .carousel-indicators li {
  cursor: pointer;
  background-color: black;
}

.carousel-indicators{
  bottom: -43px!important;
}

#hero .btn-get-started {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px 10px 10px 0;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 0;
  background: #ED1B2F;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    margin-bottom: 0px;
    font-weight: 700;
  }
  #hero .carousel-control-next-icon, #hero .carousel-control-prev-icon{
    font-size: 20px;
  }
  #hero .btn-get-started {font-size: 0.6rem}
  #hero p{font-size: 12px;width: 100%;}
}

@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #f5f9fc;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #5c768d;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Service
--------------------------------------------------------------*/
.service {
  padding-bottom: 30px;
}

.service .service-box {
	background: #fafafa;
	vertical-align: middle;
	border: none !important;
	border-radius: 0 .7rem 0 .7rem !important;
}

.service .service-box a{
  color:white;
}
.service .service-box .card-img{
	border: none !important;
	border-radius: 0 !important;
}

.service .service-box .card-title{
	font-size: 1.56rem;
}

.service .service-box .align-self-center{display: grid;}

.bg-black-transparent{
	background-color: rgba(0, 0, 0, 0.3);
}

.bg-gradient-1{
	background-image: linear-gradient(90deg, rgba(237,27,47, 0.5), rgba(0, 0, 0, 0.3));
}

.bg-gradient-2{
	background-image: linear-gradient(90deg, rgba(172,196,42, 0.5), rgba(0, 0, 0, 0.3));
}

.bg-gradient-3{
	background-image: linear-gradient(90deg, rgba(00,108,184, 0.5), rgba(0, 0, 0, 0.3));
}

.bg-gradient-4{
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@media (max-width: 768px) {
	.service .service-box .card-title{font-size: 1.014rem;}
}


.modal-sub{
  position: relative;
  margin-top:4rem; 
  margin-bottom: 2rem;
  background-color: white;
  width: 30%;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.modal-sub img{
  border-top-right-radius: 20px;
}
.modal-sub .btn-close-modal{
  position: absolute;
  color: white;
  top: -40px!important;
  right: 10px;
  background-color: transparent;
  border:0;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  color: #fafafa;
  cursor: pointer;
}
.modal-sub .btn-close-modal:hover{
  color:white;
}
.modal-image-top{margin-top:-30px;}


/*--------------------------------------------------------------
# media-information
--------------------------------------------------------------*/
.media-information {
  padding-bottom: 30px;
}

.media-information-source a {
	font-size: 1.14rem;
	color: #000;
	text-align: right;
}
.media-information-source a.active {
	color:#ED1B2F;
}
.media-information-box .card-img-overlay .card-content{position: absolute; bottom: 0; left: 0; font-size: 1.584rem}
.media-information-box .card-img-overlay .card-content span{font-weight: normal;font-size: 0.768rem !important;}
.media-information-box, .media-information-box .card-img-overlay, .badge{border: 0 !important; border-radius: 0 !important;}
.media-information-box-right .media-information-box{min-height: 200px; height: 200px; position: relative;}
.media-information-box-right .card-img-overlay .card-content{position: absolute; bottom: 0; left: 0; font-size: 1rem}
.media-information-box-left .media-information-box, .media-information-box-left a{max-height: 417px;height: 417px;}
.media-information-box-left .media-information-box .box-image{height: 100%;}
.media-information-box-left .media-information-box .box-image img{width: 100% !important;}

.gallery-carousel .box-image{height: 200px;}

.media-information-box-left a, .media-information-box-right a{color: inherit!important;}
.media-information-box-right a img, .media-information-box-left a img{ 
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

@media (max-width: 992px) {
	.media-information-source { margin: 15px 0 15px 0;}
	.media-information-top{ text-align: center !important; margin-bottom: 1rem; }
	.media-information-option-left{text-align: left; padding-right: 0;}
	.media-information-option-center{text-align: center;}
	.media-information-option-right{text-align: right; padding-left:0;}

	.media-information-box-left .media-information-box img{height: 100%;}

	.media-information-box .card-img-overlay .card-content{font-size: 1rem;padding-bottom: 0 !important;}
	.media-information-box-right{padding-left: 15px !important; padding-right: 15px !important;}

	.media-information-box .card-img-overlay .badge{font-size: 0.756rem !important;}
}

@media (max-width: 768px) {
  .media-information-box-left a, .media-information-box-right a{height: 200px;}
  .media-information-box-left .media-information-box, .media-information-box-left a .box-image{height: 200px!important;}

	.media-information-box p{line-height: 1.14rem;}
  .modal-sub{ width: 80%; }
}


/*--------------------------------------------------------------
# Video Profile PIS
--------------------------------------------------------------*/
.video-profile .image-video { height: 300px; }
.video-profile .image-video a > img{ width: 100% }

@media (max-width: 992px) {
	.video-profile-info{text-align: center;}
}


/*--------------------------------------------------------------
# Armada
--------------------------------------------------------------*/
.armada-top-box{border-top-right-radius: 20px;}
.armada-top-box a{color: #fff; font-weight: 600;}
.armada-bottom-box{border-bottom-left-radius: 20px;}
.armada-bottom-box .nav-tabs, .armada-bottom-box .nav-item, .armada-bottom-box .nav-link {border:0; color:#444;}
.armada-bottom-box .nav-tabs .nav-link.active{background-color: #ACC42A !important; color: white !important; border:0;}
.armada-bottom-box .btn.focus, .btn:focus{box-shadow: none;}
.armada-bottom-box .table{font-size: 0.756rem}
.armada-bottom-box td { padding: 1px !important; }
.armada-bottom-box a { color: #444; }
.armada-bottom-box .all-armada a, .informasi-pengadaan .all-armada a { text-decoration: underline; }
.armada-bottom-box .box-image { height: 200px; }
#home .nav-btn{top: 20%!important;}

#homegallery .owl-carousel .nav-btn{top: 20%!important;}
#homegallery a{color: inherit;}


@media (max-width: 768px) {
  section.armada{padding-bottom: 15px !important;}
  section.armada .box-content{padding: 15px !important;}
  .armada-top-box{background-color: transparent!important;color: #444!important;}
  .armada-top-box .col-xs-3 {width: 50% !important;}

  .armada-bottom-box, .armada-bottom-box .tab-content{background-color: transparent!important;}
  .armada-bottom-box .nav .nav-item{width: 50%;}
  .armada-bottom-box .box-content{background-color: #fff;}
  .armada-bottom-box .all-armada, .informasi-pengadaan .all-armada{text-align: center!important;margin-top: 15px;}
  .armada-bottom-box{padding-bottom: 0!important;}
  #myTabContent{padding-right: 0!important;padding-left: 0!important; padding-bottom: 0!important}
}



/*--------------------------------------------------------------
# Informasi Pengadaan
--------------------------------------------------------------*/
@media (max-width: 768px) {
  .informasi-pengadaan .text-pengadaan{text-align: center!important;}
}

/*--------------------------------------------------------------
# Informasi Pengadaan
--------------------------------------------------------------*/
.career-section {
  background-image: url('../images/Karier_Dummy_Desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 !important;
}
.career-section .bg-overlay{
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  position:relative;
  padding: 60px 0;
}
.career-section .content{color: #fff;}
.career-section .content h5{font-weight: 600;}

@media (max-width: 768px) {
  .career-section {
    background-image: url('../images/Karier_Dummy_Mobile.png');
  }
  .career-section .content{text-align: center!important;}
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  padding: 0 0 30px 0;
  font-size: 14px;
}

.separate hr{
  border-top: 2px dashed #fafafa;
  margin: 30px 0;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}

#footer .footer-top .social-links a {
  font-weight: 550;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  text-decoration: none;
}
#footer .footer-top .social-links a span {
  font-weight: 600;
  font-size: 1rem;
  margin-right: 5px;
}
#footer .footer-top .social-links a em {
  font-weight: normal;
  font-size: 0.576rem;
  font-style: italic;
}

#footer .footer-top .social-links a .facebook{
	font-size: 1.575rem;
}

#footer .footer-top .social-links a .twitter, #footer .footer-top .social-links a .instagram{
	padding: 2px 5px;
	background-color: black;
	color: white;
	border-radius: 50%;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: black;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #ED1B2F;
}

.footer-border-1{ height: 2px; background-color: #006CB8; }
.footer-border-2{ height: 2px; background-color: #ED1B2F; }
.footer-border-3{ height: 2px; background-color: #ACC42A; }

.btn-whistle {border: 1px solid gray; border-radius: 50px;white-space: nowrap; line-height: 1rem;font-size: 0.867rem}
.btn-whistle em {margin-top: -5px;font-size: 0.625rem}
.btn-whistle .bi {margin-top: auto;margin-bottom: auto; font-size: 1.5rem}

.part-of{font-size: 1rem; font-weight: 600; align-items: center;display: flex;}

@media (max-width: 992px) {
	.btn-whistle {margin-top: 2rem;}
}


/*--------------------------------------------------------------
# Contact Page
--------------------------------------------------------------*/
#contact-map{margin-top: 0; padding-top: 0; }
#contact-form .title{font-weight: 600;}

#contact-form .info-title{font-size: 1.3rem; padding: 5px 15px; border-top-left-radius: 10px; border-bottom-right-radius: 10px;}
#contact-form .info-phone{font-weight: bold;}
#contact-form .info-email {font-weight: bold; color:black;}
#contact-form .info-135 img{width: 40%;}

.contact-info .social-links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contact-info .social-links a {
  font-weight: 550;
  transition: 0.3s;
  color:black;
  line-height: 1;
}
.contact-info .social-links a:hover {
  text-decoration: none;
}
.contact-info .social-links a span {
  font-weight: 600;
  font-size: 1rem;
  margin-right: 10px;
}
.contact-info .social-links a em {
  font-weight: normal;
  font-size: 0.576rem;
  font-style: italic;
}
.contact-info .social-links a .facebook{
	font-size: 1.575rem;
}
.contact-info .social-links a .twitter, .contact-info  .social-links a .instagram{
	padding: 2px 5px;
	background-color: black;
	color: white;
	border-radius: 50%;
}

.contact-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contact-info ul i {
  padding-right: 2px;
  font-size: 18px;
  line-height: 1;
}
.contact-info ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.contact-info ul li:first-child {
  padding-top: 0;
}
.contact-info ul a {
  color: black;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
.contact-info ul a:hover {
  color: #ED1B2F;
}


/*--------------------------------------------------------------
# Visi Misi
--------------------------------------------------------------*/
.banner-image img{width: 100%;}
#visi-misi .box-left{height: 40px;width: 40px;border-top-left-radius: 10px;border-bottom-right-radius: 10px; position:relative;}
#visi-misi .box-left img{ 
  width: 70%; 
  position: absolute;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}
#visi-misi .box-left-transparent{background-color: transparent;height: 40px;width: 40px;}
.misi-content{width: 100%;}
.misi-content img{height: 150px}
.list-misi ul{
  padding-left: 1rem; 
  margin-top: 1.5rem;
}
.list-misi li{
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
  color: #ACC42A;
  padding-left: 15px;
}
.list-misi li span{
  color:#444;
}

#visi-misi .desc{padding-left: 1.5rem}

@media (max-width: 768px) {
	#visi-misi .desc{padding-left: 0}
	.box-left-transparent{display: none;}

}


/*--------------------------------------------------------------
# Tata Nilai
--------------------------------------------------------------*/

.akhlak-item .first-letter{padding: 5px 10px;background:#ED1B2F;border-top-left-radius: 10px;color: white}
.akhlak-item .desc-letter{padding: 5px 10px;background-color: #006CB8;color: white;border-bottom-right-radius: 10px;margin-left: -4px;}

@media (max-width: 992px) {
	.akhlak-item {margin-bottom: 1rem;}
}


/*--------------------------------------------------------------
# Layanan Kami
--------------------------------------------------------------*/
#layanan-kami .box-image{height: 200px;}
#layanan-kami .box-image img{width: 100%;}
#layanan-kami .content .align-self-center{margin-bottom: 2.5rem;}
@media (max-width: 992px) {
  #layanan-kami .box-image{height: 125px;}
}


/*--------------------------------------------------------------
# Berita Page
--------------------------------------------------------------*/
.berita .box-left .box-image{height: 250px;}
.berita-info .title {margin-bottom: 0.5rem}
.berita-info a {color: black;}
.berita .box-left, .berita-detail .box-left {padding-right: 2rem;}

.berita .box-right, .berita-detail .box-right {padding-left: 1rem;}
.berita .box-right a{color: black;}

.berita .box-right .title, .berita-detail .box-right .title{ padding: 5px 15px; color: white; border-top-left-radius: 10px; border-bottom-right-radius: 10px;}
.berita .box-right .title h5, .berita-detail .box-right .title h5{margin:0;}

.berita .box-right .desc {padding-top: 1.5rem;}
.berita .box-right .desc ul{margin:0;padding: 0; list-style-type: none;}
.berita .box-right ul li{margin-bottom: 0.5rem;}

.berita .box-right .category .title{background-color: #006CB8;}
.berita .box-right .arsip .title{background-color: #ACC42A;}
.berita .box-right .energia-persero .title{background-color: #ED1B2F;}
.berita .box-right .instagram-feed .title, .berita .box-right .facebook-feed .title, .berita-detail .box-right .instagram-feed .title, .berita-detail .box-right .facebook-feed .title{background-color: gray;}
@media (max-width: 992px) {
  .berita .box-left, .berita-detail .box-left{padding-right: 0;}
}
@media (max-width: 575px) {
  .berita .box-left .box-image{height: 200px;}
  .berita .box-right, .berita-detail .box-right {padding-left: 0;}
  .berita .box-left .box-image img{width: 100!important; height: auto;}
}
/*--------------------------------------------------------------
# Berita Detail Page
--------------------------------------------------------------*/
.berita-detail .desc img{margin-bottom: 2rem;}
.berita-detail .desc p{margin-bottom: 1rem;}
.berita-detail .box-right .related-news .title{background-color: #006CB8;}

.berita-detail .box-right .desc {padding: 1.5rem 0; border-bottom: 1px dashed gray; margin-bottom:1rem;}
.berita-detail .box-right .desc a {color: black;}
.berita-detail .box-right .desc a em {color: gray;}
.berita-detail .box-right .desc a p {font-size: 0.867rem; margin-bottom: 0;}


/*--------------------------------------------------------------
# Overwire color bootstrap style
--------------------------------------------------------------*/
.page-item.active .page-link{background-color: #006CB8!important; border-color: #006CB8!important;}
.page-link{color: #006CB8;}
.badge-danger{background-color: #ED1B2F!important;}



/*--------------------------------------------------------------
# Galler Page
--------------------------------------------------------------*/
.gallery .nav-tabs {border-bottom: 0;}
.gallery .nav-tabs a {font-size: 1.5rem; color:black;}
.gallery .nav-tabs a.active, .gallery .nav-tabs a.active:hover {color:#ED1B2F;font-weight: 600;border-bottom: 2px solid #ED1B2F;}
.gallery .nav-tabs a:hover {border-color: transparent; color: #ED1B2F;}
.gallery .box-image{height: 200px;}
#photo .box-image{height: 200px;}
#infografis .box-image {height: 200px !important; background: #eaeaea;border: 1px solid #dadada;}

.box-video .image-video { height: 200px; }

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.9;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}


.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

.image-popup-fit-width, .image-popup-vertical-fit, .image-popup-no-margins{color:black;}
.image-popup-fit-width p, .image-popup-vertical-fit p, .image-popup-no-margins p{color:black;}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}

/* 
for zoom animation 
*/
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

@media (max-width: 575px) {
  .gallery .nav-tabs a {font-size: 1.2rem;}
  .box-image img{
    width: 100%;
    height: auto;
  }
}




/*--------------------------------------------------------------
# Search
--------------------------------------------------------------*/
#search {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
  background-image: url('../images/slide-3.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.9);
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	-webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
	opacity: 0;
}
#search.open {
	-webkit-transform: translate(0px, 0px) scale(1, 1);
	-moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
	opacity: 1;
	z-index: 9999;
}
#search.open .bg-overlay{
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}
#search h3 {
  position: absolute;
  top: 25%;
  width: 100%;
  color: #fff;
  text-align: center;
}
#search input[type="search"] {
  position: absolute;
  top: 50%;
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border: 0px;
  margin: 0px auto;
  margin-top: -51px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
}
#search .btn {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100px;
	max-width: 200px;
	margin-top: 61px;
	margin-left: -45px;
}
#search .close {
	position: fixed;
	top: 15px;
	right: 15px;
	color: #fff;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}


/*--------------------------------------------------------------
# Sekilas PIS Page
--------------------------------------------------------------*/
#sekilas-pis .content h5{font-weight: 600;margin-bottom: 2rem;}
#sekilas-pis .content p{line-height: 2.5rem;margin-bottom: 1rem;}

@media (max-width: 768px) {
	#sekilas-pis .content p{line-height: 1.5rem}
}


/*--------------------------------------------------------------
# Makna Logo Page
--------------------------------------------------------------*/
#makna-logo .content h5{font-weight: 600;margin-bottom: 2rem;}
#makna-logo .content img{width:50%;margin: 2rem 0 3rem 0;}
#makna-logo .content ol{padding-left: 15px;}
#makna-logo .content ol li{line-height: 2rem;}

@media (max-width: 768px) {
	#makna-logo .content img{width:100%; padding-left: 15px;}
}


/*--------------------------------------------------------------
# Tonggak Sejarah Page
--------------------------------------------------------------*/
#tonggak-sejarah .content h5{font-weight: 600;margin-bottom: 2rem;}
#tonggak-sejarah .content .title{margin-bottom: 0.5rem;}
#tonggak-sejarah .content .desc{margin-bottom: 2rem; line-height: 2rem;}

@media (max-width: 768px) {

}



/*--------------------------------------------------------------
# Dewan Komisaris & Direksi Page
--------------------------------------------------------------*/
#dewan-komisaris .box-gradient {
	color: white;
	background-color: transparent;
	background-image: linear-gradient(to bottom, #ACC42A, #006CB8);
	padding-top: 15px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#direksi .box-gradient {
	color: white;
	background-color: transparent;
	background-image: linear-gradient(to bottom, #ED1B2F, #006CB8);
	padding-top: 15px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#direksi .content > div {margin-bottom: 2rem;}
#dewan-komisaris .box-gradient p, #direksi .box-gradient p{line-height: 1.5rem;padding: 1rem 0;font-size: 0.867rem;}
@media(min-width: 768px){
  #dewan-komisaris .box-gradient {
    height: 100%;
  }
  #dewan-komisaris .box-gradient p, #direksi .box-gradient p{
    margin-bottom: 0;
  }
}
.modal-profile{
	position: relative;
	margin-top:4rem; 
	margin-bottom: 2rem;
	background-color: white;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.modal-profile .btn-close-modal{
	position: absolute;
	color: white;
	top: -40px!important;
	right: 10px;
	background-color: transparent;
	border:0;
	padding: 0;
	margin: 0;
	font-size: 1.5rem;
	color: #fafafa;
	cursor: pointer;
}
.modal-profile .btn-close-modal:hover{
	color:white;
}
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out; 
	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 
}
/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: scale(1); 
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	transform: scale(1); 
}
/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 
	opacity: 0;
}
/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}

@media (max-width: 768px) {
	.modal-profile .image-profile {margin: 1rem 0;}
	.modal-profile .image-profile img{width: 50%;margin-left: auto;margin-right: auto;display: block;}
	.modal-profile .title {margin-bottom: 2rem;}
	.modal-profile .title h5, .modal-profile .title p{text-align: center; margin-bottom: 0;}
}

@media (max-width: 575px) {
	#dewan-komisaris .box-gradient, #direksi .box-gradient {
		background-image: none;
		color: black;
		margin-bottom: 1.5rem;
	}
}


/*--------------------------------------------------------------
# Sambutan Direktur Utama Page
--------------------------------------------------------------*/
#sambutan-direktur-utama {
  line-height: 2rem;
}
#sambutan-direktur-utama .title h5{
  margin-bottom: 2rem;
}
#sambutan-direktur-utama img{
  width: 20%;
  margin-top: 3rem;
}
#sambutan-direktur-utama p.image-desc{
  line-height: 1.5rem
}
@media (max-width: 768px) {
}

@media (max-width: 575px) {
  #sambutan-direktur-utama img{
    width: 50%;
  }
}



/*--------------------------------------------------------------
# Struktur Organisasi Page
--------------------------------------------------------------*/
#struktur-organisasi .btn-default-pis span:after{
}


/*--------------------------------------------------------------
# Kelompok Perusahaan
--------------------------------------------------------------*/
.kelompok-perusahaan table td {padding-top: 1rem; padding-bottom: 1.5rem; vertical-align: middle;}
.kelompok-perusahaan table td img{height: 40px; width: auto;}
@media (max-width: 575px) {
  .kelompok-perusahaan table td img{width: 100%; height: auto;}
}


/*--------------------------------------------------------------
# Standard International Page
--------------------------------------------------------------*/
.list-iso table tr td.d-sm-block{min-width: 30%; width: 30%;}

@media (max-width: 575px) {
  #standard-internasional .list-iso img {width: 50%; margin: 0 auto; align-self: center; display: block;}
  .list-iso{
    padding: 0!important;
  }
  .list-iso table tr td{
    text-align: center;
    padding: 0;
    width: 100%!important;
  }
}


/*--------------------------------------------------------------
# Laporan Tahunan Page
--------------------------------------------------------------*/
#laporan-tahunan .content .box-content {
  margin-bottom: 2rem;
}
#laporan-tahunan .content .box-content p{
  text-align: center;
  line-height: 1.5rem;
}

@media (max-width: 575px) {
}

/*--------------------------------------------------------------
# Laporan & Ikhtisar Keuangan Page
--------------------------------------------------------------*/
#laporan-ikhtisar-keuangan .content .box-content {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#laporan-ikhtisar-keuangan .content .box-content:nth-of-type(odd) {
  background: #fafafa;
}
#laporan-ikhtisar-keuangan .content .box-content  .row div.content-list:nth-child(3) {
  border-left: 1px solid #c5c5c5;
}
@media (max-width: 575px) {
}

/*--------------------------------------------------------------
# Komposisi Pemegang Saham Page
--------------------------------------------------------------*/
#komposisi-pemegang-saham .content img{
  width: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 575px) {
  #komposisi-pemegang-saham .content img{
    width: 90%;
  }
}

/*--------------------------------------------------------------
# Informasi Deviden Page
--------------------------------------------------------------*/
#informasi-deviden .content img{
  width: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 575px) {
  #komposisi-pemegang-saham .content img{
    width: 90%;
  }
}

/*--------------------------------------------------------------
# Obligasi Page
--------------------------------------------------------------*/
#boligasi{
}

@media (max-width: 575px) {
  
}

/*--------------------------------------------------------------
# RUPS Page
--------------------------------------------------------------*/
#rups .content .box-content {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#rups .content .box-content:nth-of-type(odd) {
  background: #fafafa;
}
#rups .content .box-content  .row div.content-list:nth-child(3) {
  border-left: 1px solid #c5c5c5;
}

@media (max-width: 575px) {
}

/*--------------------------------------------------------------
# Tata Kelola Page
--------------------------------------------------------------*/
#tata-kelola-perusahaan .content .list-content ul {
  list-style-type: none;
  padding-left: 0;
}
#tata-kelola-perusahaan .content .list-content ul li{
  padding-left: 10px;
  padding-right:10px;
  line-height: 2rem;
  margin-bottom: 1rem;
}
#tata-kelola-perusahaan .content .list-content ul li a{
  color: black;
}
#tata-kelola-perusahaan .content .list-content ul li.active{
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  background-color: #ACC42A;
}
#tata-kelola-perusahaan .content .list-content ul li.active a{
  color: white;
}

@media (max-width: 575px) {
  #tata-kelola-perusahaan .content .list-content ul {
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
  }
  #tata-kelola-perusahaan .content .list-content ul li {
    display: inline-block;
    line-height: 0.5rem;
  }
  #tata-kelola-perusahaan .content .list-content ul li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
}

/*--------------------------------------------------------------
# Keberlanjutan
--------------------------------------------------------------*/
#keberlanjutan .content .list-content ul {
  list-style-type: none;
  padding-left: 0;
}
#keberlanjutan .content .list-content ul li{
  padding-left: 10px;
  padding-right:10px;
  line-height: 2rem;
  margin-bottom: 1rem;
}
#keberlanjutan .content .list-content ul li a{
  color: black;
}
#keberlanjutan .content .list-content ul li.active{
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  background-color: #ACC42A;
}
#keberlanjutan .content .list-content ul li.active a{
  color: white;
}

@media (max-width: 575px) {
  #keberlanjutan .content .list-content ul {
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
  }
  #keberlanjutan .content .list-content ul li {
    display: inline-block;
    line-height: 0.5rem;
  }
  #keberlanjutan .content .list-content ul li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
}

/*--------------------------------------------------------------
# Tonggak Sejarah
--------------------------------------------------------------*/
.main-timeline4 {
  overflow: hidden;
  position: relative
}
.main-timeline4:after,
.main-timeline4:before {
  content: "";
  display: block;
  width: 100%;
  clear: both
}
.main-timeline4:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #d6d5d5;
  position: absolute;
  top: 30px;
  left: 50%
}
.main-timeline4 .timeline {
  width: 50%;
  float: left;
  padding-right: 30px;
  position: relative
}
.main-timeline4 .timeline-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  border: 3px solid #006CB8;
  position: absolute;
  top: 5.5%;
  right: -17.5px
}
.main-timeline4 .year {
  display: block;
  padding: 10px;
  margin: 0;
  font-size: 30px;
  color: #fff;
  border-radius: 0 50px 50px 0;
  background: #006CB8;
  text-align: center;
  position: relative
}
.main-timeline4 .year:before {
  content: "";
  border-top: 35px solid #006CB8;
  border-left: 35px solid transparent;
  position: absolute;
  bottom: -35px;
  left: 0;
}
.main-timeline4 .timeline-content {
  padding: 30px 20px;
  margin: 0 45px 0 35px;
  background: #f2f2f2;
}
.main-timeline4 .title {
  font-size: 19px;
  font-weight: 700;
  color: #504f54;
  margin: 0 0 10px;
}
.main-timeline4 .description {
  font-size: 14px;
  color: #7d7b7b;
  margin: 0;
}
.main-timeline4 .timeline:nth-child(2n) {
  padding: 0 0 0 30px;
}
.main-timeline4 .timeline:nth-child(2n) .timeline-icon {
  right: auto;
  left: -14.5px;
}
.main-timeline4 .timeline:nth-child(2n) .year {
  border-radius: 50px 0 0 50px;
  background: #ED1B2F;
}
.main-timeline4 .timeline:nth-child(2n) .year:before {
  border-left: none;
  border-right: 35px solid transparent;
  left: auto;
  right: 0;
}
.main-timeline4 .timeline:nth-child(2n) .timeline-content {
  text-align: right;
  margin: 0 35px 0 45px
}
.main-timeline4 .timeline:nth-child(2) {
  margin-top: 200px;
}
.main-timeline4 .timeline:nth-child(odd) {
  
}
.main-timeline4 .timeline:nth-child(even) {
  margin-top: 200px;
}
.main-timeline4 .timeline:first-child,
.main-timeline4 .timeline:last-child:nth-child(even) {
  
}
.main-timeline4 .timeline:nth-child(2n) .timeline-icon {
  border-color: #ED1B2F
}
.main-timeline4 .timeline:nth-child(2n) .year:before {
  border-top-color: #ED1B2F
}
.main-timeline4 .timeline:nth-child(3n) .timeline-icon {
  border-color: #ACC42A
}
.main-timeline4 .timeline:nth-child(3n) .year {
  background: #ACC42A
}
.main-timeline4 .timeline:nth-child(3n) .year:before {
  border-top-color: #ACC42A
}
.main-timeline4 .timeline:nth-child(4n) .timeline-icon {
  border-color: #006CB8
}
.main-timeline4 .timeline:nth-child(4n) .year {
  background: #006CB8
}
.main-timeline4 .timeline:nth-child(4n) .year:before {
  border-top-color: #006CB8
}
.main-timeline4 .timeline:nth-child(5n) .timeline-icon {
  border-color: #ED1B2F
}
.main-timeline4 .timeline:nth-child(5n) .year {
  background: #ED1B2F
}
.main-timeline4 .timeline:nth-child(5n) .year:before {
  border-top-color: #ED1B2F
}
.main-timeline4 .timeline:nth-child(8n) .timeline-icon {
  border-color: #ED1B2F
}
.main-timeline4 .timeline:nth-child(8n) .year {
  background: #ED1B2F
}
.main-timeline4 .timeline:nth-child(8n) .year:before {
  border-top-color: #ED1B2F
}

@media only screen and (max-width:767px) {
  .main-timeline4 {
    overflow: visible;
  }
  .main-timeline4:before {
    top: 0;
    left: 0
  }
  .main-timeline4 .timeline:nth-child(2),
  .main-timeline4 .timeline:nth-child(even),
  .main-timeline4 .timeline:nth-child(odd) {
    margin: 0
  }
  .main-timeline4 .timeline {
    width: 100%;
    float: none;
    padding: 0 0 0 30px;
    margin-bottom: 20px!important;
  }
  .main-timeline4 .timeline:last-child {
    margin: 0!important
  }
  .main-timeline4 .timeline-icon {
    right: auto;
    left: -14.5px;
  }
  .main-timeline4 .year {
    border-radius: 50px 0 0 50px;
  }
  .main-timeline4 .year:before {
    border-left: none;
    border-right: 35px solid transparent;
    left: auto;
    right: 0;
  }
  .main-timeline4 .timeline-content {
    margin: 0 35px 0 45px;
  }
}


/*--------------------------------------------------------------
# Armada Kami
--------------------------------------------------------------*/
.armada-kami .nav-tabs {border-bottom: 0;}
.armada-kami .nav-tabs a {font-size: 1.5rem; color:black;}
.gallery .nav-tabs a.active:hover {color:#ED1B2F;font-weight: 600;border-bottom: 2px solid #ED1B2F;}
.armada-kami .nav-tabs a.active, .armada-kami .nav-tabs a.active:hover {color:#444;font-weight: 600;border-bottom: 2px solid #444;}
.armada-kami .nav-tabs a:hover {border-color: transparent; color: #ED1B2F;}
.armada-kami .box-image{height: 200px;}
.armada-kami .table td{padding-left: 0; padding-top:0; padding-right: 0; padding-bottom: 3px; font-size: 0.867rem;}
.armada-kami .box-content{margin-bottom: 30px;}
.armada-kami a{color: #444;}

.detail-armada .box-image{border-radius: 10px; width: 100%; height: 200px;}
.detail-armada .box-image img{width:100%;}

.detail-armada .table td{font-size: 0.867rem; width: 50%}
.detail-armada .table thead{height: 40px}

.modal-armada{
  position: relative;
  margin-top:4rem; 
  margin-bottom: 2rem;
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 3rem;
}
.modal-armada .box-image{height: 200px;margin-bottom: 1rem;}
.modal-armada img{
  border-radius: 20px;
}
.modal-armada .btn-close-modal{
  position: absolute;
  color: white;
  top: -40px!important;
  right: 10px;
  background-color: transparent;
  border:0;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  color: #fafafa;
  cursor: pointer;
}
.modal-armada .btn-close-modal:hover{
  color:white;
}

@media (max-width: 575px) {
  .modal-armada{
    padding: 15px;
  }
}


/*--------------------------------------------------------------
# Karier
--------------------------------------------------------------*/
.internship{ background-color: gray; color: #ffffff;}
.internship h3{ margin-bottom: 2rem;}


/*--------------------------------------------------------------
# Presentasi
--------------------------------------------------------------*/
.presentasi .content .box-content {
  margin-bottom: 2rem;
}
.presentasi .content .box-content p{
  text-align: center;
  line-height: 1.5rem;
}

@media (max-width: 575px) {
}



/*--------------------------------------------------------------
# Home Gallery
--------------------------------------------------------------*/
#homegallery .card, #homegallery .card-img, .card-img-top {
  border: 0;
  border-radius: 0;
  background-color: transparent;
}
#homegallery .card .card-body {
  padding-left: 0;
  padding-right: 0;
}

.carousel-wrap {
  width: 1000px;
  margin: auto;
  position: relative;
}
.owl-carousel .owl-nav{
  overflow: hidden;
  height: 0px;
}

.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
  background: #ED1B2F;
}
.owl-carousel .next-slide:hover{
  color: #ED1B2F;
}

.owl-carousel .item {
  text-align: center;
}
.owl-carousel .nav-btn{
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 38% !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled{
  pointer-events: none;
  opacity: 0.2;
}

.owl-carousel .prev-slide, .owl-carousel .next-slide{
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  background-color: white;
  border-radius: 50%;
}
.owl-carousel .prev-slide{
  left: -0.5rem;
}
.owl-carousel .next-slide{
  right: -0.5rem;
}


/*--------------------------------------------------------------
# Pencarian
--------------------------------------------------------------*/
.pencarian .content .box-content {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.pencarian .content .box-content:nth-of-type(odd) {
  background: #fafafa;
}
.pencarian .content .box-content  .row div.content-list:nth-child(3) {
  border-left: 1px solid #c5c5c5;
}
.pencarian .box-content a{color: inherit;}
@media (max-width: 575px) {
}
