﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="AllGallery.aspx.cs" Inherits="PIS_Backend.AllGallery" EnableEventValidation="false"%>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pertamina PIS</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="images/favicon.png" rel="icon">
  <link href="images/favicon.png" rel="apple-touch-icon">


</head>

<body>

  <!-- ======= Top Bar ======= -->

</body>

</html>

